<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <% if (isLoggedIn) { %>
    <li>Logged in as <strong><%= userIdentifier %></strong></li>
    <% if (userType === 'instructor') { %>
    <li><a href="/addevent">Add Event</a></li>
    <li><a href="/myevents">My Events</a></li>
    <% } else { %>
    <li><a href="/myevents">My Bookings</a></li>
    <% } %>
    <li><a href="/listinstructors">Instructors</a></li>
    <li><a href="/logout">Logout</a></li>
    <% } else { %>
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>
    <li><a href="/instructorRegistration">Register as Instructor</a></li>
    <% } %>
    <li><a href="/about">About</a></li>
    <li><a href="/search">Search Events</a></li>
    <li><a href="/list">List Events</a></li>
  </ul>
</nav>
