<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to <%=shopName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%=shopName%></h1>

    <% if (isLoggedIn) { %>
    <p>Logged in as <strong><%= userIdentifier %></strong></p>

    <% if (userType === 'instructor' || userType === 'customer') { %>
    <p><a href="list">List events</a></p>
    <p><a href="search">Search for events</a></p>
    <% } %> <% if (userType === 'instructor') { %>
    <p><a href="addevent">Add a new event</a></p>
    <% } %>

    <p><a href="myevents">List your events</a></p>
    <p><a href="listinstructors">List the instructors</a></p>
    <p><a href="logout">Logout</a></p>
    <% } else { %>
    <p>Welcome, guest!</p>
    <p><a href="login">Login!</a></p>
    <p><a href="register">Register with us</a></p>
    <p><a href="instructorRegistration">Register as an instructor</a></p>
    <% } %>

    <p><a href="about">About <%=shopName%></a></p>
  </body>
</html>
