<!DOCTYPE html>
<html>
  <head>
    <title>Login to <%=shopName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <p><a href="/">Home</a></p>
    <h1>Log in! <%=shopName%></h1>
    <form method="POST" action="/loggedin">
      <p>
        <strong>Username</strong> to log in as a <strong>Customer</strong> or
        <strong>Email</strong> to log in as a <strong>Instructor</strong>:
        <input
          id="username"
          type="text"
          name="username"
          placeholder="username"
        />
      </p>
      <p>
        Password:
        <input
          id="password"
          type="password"
          name="password"
          placeholder="password"
        />
      </p>
      <input type="submit" value="log in" />
    </form>
  </body>
</html>
