<!DOCTYPE html>
<html>
  <head>
    <title>Search <%=shopName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <%- include('_navbar') %>
    <h1>Search <%=shopName%></h1>
    <form action="/search-result" method="GET">
      <p>What event are you looking for?</p>
      <input type="text" name="keyword" placeholder="Search events" />
      <input type="submit" value="Search" />
    </form>
  </body>
</html>
