<!DOCTYPE html>
<html>
  <head>
    <title>Search <%= shopName %></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <p><a href="/">Home</a></p>
    <h1>Search Events at <%= shopName %></h1>
    <form action="/search-result" method="GET">
      <p>Search by event title:</p>
      <input
        id="search-box"
        type="text"
        name="keyword"
        placeholder="Enter event title"
      />
      <input type="submit" value="Search" />
    </form>
  </body>
</html>
